.campo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b8770;
}

.plantilla {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/imagenes/alineacion_background.jpg');
    width: 1180px;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.portero,
.defensa,
.medio,
.delantera {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    margin-right: 51px;
    gap: 29px;

}

.jugador {
    display: flex;
    flex-direction: row;
}

.insignias {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-left: 15px;
    gap: 11px;
    margin-right: -50px;
}

.player_img {
    height: 195px;
    margin-left: 19px;
}

.team_logo {
    height: 46px;
    width: 46px;
}

.position_logo {
    height: 31px;
    width: 31px;
}

@media screen and (max-width: 959px) {
    .plantilla {
        background-image: none;
        background-color: #0b8770;
    }

}