<div class="grid_transpasos">
    <!--Elemento [1][1]-->
    <div class="transpaso" id="transp1">
        <div class="player_box">
            <div class="picsum-img-wrapper playerTrans">
                <div class="player_comb">
                    <div class="insignias">
                        <img [src]="players[0].position" class="position_logo" style="margin-top: 10px;">
                        <img [src]="players[0].team" class="team_logo" alt="">
                    </div>
                    <img [src]="players[0].image" class="player_img" />
                </div>
                <h3>{{ players[0].name }}</h3>
                <div class="hero-profile_tags points	">
                    <p class="hero-profile_tag first_point">{{ players[0].point1 }}</p>
                    <p class="hero-profile_tag">{{ players[0].point2 }}</p>
                    <p class="hero-profile_tag">{{ players[0].point3 }}</p>
                    <p class="hero-profile_tag">{{ players[0].point4 }}</p>
                </div>
            </div>
        </div>
        <div>
            <img src="../../assets/recursos/flecha.png" class="transferido" sizes="trasferio">
        </div>
        <div class="player_box">
            <div class="picsum-img-wrapper team">
                <img [src]="team[0].image" class="transImg escudo" alt="Random first slide" />
                <h3>{{ team[0].name }}</h3>
            </div>
            <div class="stats">
                <p><strong>{{team[0].puntos}} puntos</strong></p>
                <p><strong>{{team[0].valor}} Є</strong></p>
                <p><strong>{{team[0].numJugadores}} jugadores</strong></p>
            </div>
        </div>
    </div>

    <!--Elemento [1][2]-->
    <div class="transpaso" id="transp2">
        <div class="player_box">
            <div class="picsum-img-wrapper playerTrans">
                <div class="player_comb">
                    <div class="insignias">
                        <img [src]="players[1].position" class="position_logo" alt="">
                        <img [src]="players[1].team" class="team_logo" alt="">
                    </div>
                    <img [src]="players[1].image" class="player_img" />
                </div>
                <h3>{{ players[1].name }}</h3>
                <div class="hero-profile_tags points	">
                    <p class="hero-profile_tag first_point">{{ players[1].point1 }}</p>
                    <p class="hero-profile_tag">{{ players[1].point2 }}</p>
                    <p class="hero-profile_tag">{{ players[1].point3 }}</p>
                    <p class="hero-profile_tag">{{ players[1].point4 }}</p>
                </div>
            </div>
        </div>
        <div>
            <img src="../../assets/recursos/flecha.png" class="transferido" sizes="trasferio">
        </div>
        <div class="player_box">
            <div class="picsum-img-wrapper team">
                <img [src]="team[0].image" class="transImg escudo" alt="Random first slide" />
                <h3>{{ team[0].name }}</h3>
            </div>
            <div class="stats">
                <p><strong>{{team[0].puntos}} puntos</strong></p>
                <p><strong>{{team[0].valor}} Є</strong></p>
                <p><strong>{{team[0].numJugadores}} jugadores</strong></p>
            </div>
        </div>
    </div>

    <!--Elemento [2][1]-->
    <div class="transpaso" id="transp3">
        <div class="player_box">
            <div class="picsum-img-wrapper playerTrans">
                <div class="player_comb">
                    <div class="insignias">
                        <img [src]="players[2].position" class="position_logo" alt="">
                        <img [src]="players[2].team" class="team_logo" alt="">
                    </div>
                    <img [src]="players[2].image" class="player_img" />
                </div>
                <h3>{{ players[2].name }}</h3>
                <div class="hero-profile_tags points	">
                    <p class="hero-profile_tag first_point">{{ players[2].point1 }}</p>
                    <p class="hero-profile_tag">{{ players[2].point2 }}</p>
                    <p class="hero-profile_tag">{{ players[2].point3 }}</p>
                    <p class="hero-profile_tag">{{ players[2].point4 }}</p>
                </div>
            </div>
        </div>
        <div>
            <img src="../../assets/recursos/flecha.png" class="transferido" sizes="trasferio">
        </div>
        <div class="player_box">
            <div class="picsum-img-wrapper team">
                <img [src]="team[0].image" class="transImg escudo" alt="Random first slide" />
                <h3>{{ team[0].name }}</h3>
            </div>
            <div class="stats">
                <p><strong>{{team[0].puntos}} puntos</strong></p>
                <p><strong>{{team[0].valor}} Є</strong></p>
                <p><strong>{{team[0].numJugadores}} jugadores</strong></p>
            </div>
        </div>
    </div>

    <!--Elemento [2][2]-->
    <div class="transpaso" id="transp4">
        <div class="player_box">
            <div class="picsum-img-wrapper playerTrans">
                <div class="player_comb">
                    <div class="insignias">
                        <img [src]="players[3].position" class="position_logo" alt="">
                        <img [src]="players[3].team" class="team_logo" alt="">
                    </div>
                    <img [src]="players[3].image" class="player_img" />
                </div>
                <h3>{{ players[3].name }}</h3>
                <div class="hero-profile_tags points	">
                    <p class="hero-profile_tag first_point">{{ players[3].point1 }}</p>
                    <p class="hero-profile_tag">{{ players[3].point2 }}</p>
                    <p class="hero-profile_tag">{{ players[3].point3 }}</p>
                    <p class="hero-profile_tag">{{ players[3].point4 }}</p>
                </div>
            </div>
        </div>
        <div>
            <img src="../../assets/recursos/flecha.png" class="transferido" sizes="trasferio">
        </div>
        <div class="player_box">
            <div class="picsum-img-wrapper team">
                <img [src]="team[0].image" class="transImg escudo" alt="Random first slide" />
                <h3>{{ team[0].name }}</h3>
            </div>
            <div class="stats">
                <p><strong>{{team[0].puntos}} puntos</strong></p>
                <p><strong>{{team[0].valor}} Є</strong></p>
                <p><strong>{{team[0].numJugadores}} jugadores</strong></p>
            </div>
        </div>
    </div>
</div>